<!-- Navigation -->
<nav>
  <div>
      <a href="#">News Articles</a>
      <br /><br />
      <a href="#">Home</a>
      <br /><br />
      <a href="#saveModal">Saved Articles</a>
      <br /><br />
      <a>Scrape</a>
      <a>Saved News</a>
  </div>
</nav>
